/* Original CSS

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: #d6d6d6;
    padding: 0;
}

.container-fluid {
    padding-top: 15px;
    padding-bottom: 15px;
}

.list-group-item:last-child, 
.list-group-item:first-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.marginless-listgroup {
    margin-bottom: 0px;
}

.list-group-item {
    padding: 15px 15px;
    overflow: auto;
}

.modal-list-group-item {
    padding: 10px 5px;
    height: 64px;
}

.list-value {
    font-weight: normal;
    color: #595959;
    padding-top: 0px;
    border: 0px;
    text-align: right;
}

.channel-list-container {
    height: 40px; 
    line-height: 40px;
    padding-left: 5px;
    padding-right: 5px;
}

.text-list-container {
    padding-left: 5px;
    padding-right: 5px;
}

.left-aligned-list-value-label {
    float: left;
    height: 100%;
    text-align: left;
}

.right-aligned-list-value-label {
    float: right;
}

.left-label {
    font-weight: 200;
    color: #ababab;
    text-align: left;
    width: 100%;
}

.larger-text {
    font-size: 40px;
    font-weight: bold;
}

.proceed-row {
    margin-left: 20px;
    margin-right: 20px;
}

.proceed-button {
    background-color: #72529b;
    color: #FFFFFF;
    border: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    margin-bottom: 0;
    padding: 10px 15px;
    width: 100%;
    font-weight: bold;
    font-size: larger;
}

button[disabled], html input[disabled] {
    opacity: 0.4; 
    -moz-opacity: 0.4;
    background-color: gray;
}

.close-button {
    background-color: #72529b;
    color: #FFFFFF;
    border: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    margin-bottom: 0;
    padding: 10px 15px;
    width: 100%;
    font-weight: bold;
}

.molpay-disclaimer-container {
    padding: 15px;
}

.poweredByMOLPay {
    height: 20px;
}

.mp-version {
    color: #818285;
    float: right;
    height: 20px;
    font-size: 8px;
    display: table;
    font-weight: bold;
}

.mp-version span {
    display: table-cell;
    vertical-align: bottom;
}

.modal-body {
    font-size: larger;
    text-align: center;
}

.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    overflow: show;
    margin: auto;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.loading:before {
    display: block;
    width: 100%;
    height: 100%;
}

.loadingbackground {
    content: '';
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: Black; 
    filter: alpha(opacity=60); 
    opacity: 0.6; 
    -moz-opacity: 0.8;
    display:block;
}

.fa-spinner:before {
    color: white;
}

.loading-text {
    position: relative; 
    z-index: 999; 
    height: 100%; 
    width: 100%;
    top: 10px; 
    left:0px; 
    display:block;
    color: #FFFFFF;
}

.channel-logo {
    max-height: 40px;
}

.creditcard-form {
    margin-top: 10px;
}

.split {
    padding: 0px;
    border-width: 0px;
    display: -webkit-flex;
    display: flex;
}

.split-cvv {
    width: 40%;
}

.split-exp {
    width: 60%;
}

.card-number-input {
    border-width: 0px;
    text-align: right;
    max-width: 160px;
}

.cvv-input {
    border-width: 0px;
    text-align: right;
    width: 50%;
}

.exp-input {
    border-width: 0px;
    text-align: right;
    width: 50%;
}

.channel-list-modal-body {
    max-height: calc(100vh - 105px);
    min-height: 480px;
    min-height: 80vw;
    overflow-y: auto;
}

.country-list-modal-body {
    max-height: calc(100vh - 185px);
    min-height: 480px;
    min-height: 80vw;
    overflow-y: auto;
}

.search-bar {
     margin-bottom: 0px; 
}

.search-icon {
    float: right;
    margin-right: 10px;
    margin-top: -24px;
    position: relative;
    z-index: 2;
}

.modal-header {
    text-align: center;
}

.bcard-form {
    margin-top: 10px;
}

.new-credit-card-form {
    position: relative;
    display: block;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0px;
    margin-bottom: -1px;
    min-height: 44px;
}

.new-card-label {
    position: absolute;
    margin-top: 5px;
    font-weight: 200;
    color: #595959;
}

.new-credit-card-switch {
    margin-left: 80px;
    position: relative;
    border: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    min-height: 28px;
}

.new-credit-card-switch span {
    min-height: 28px;
}

.new-credit-card-switch .switch-left {
    background: #72529b;
}

.new-credit-card-switch .switch-right {
    color: #333;
    background: #f0f0f0;
}

.new-credit-card-switch .knob {
    background: red;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #FFFFFF;
    width: 34%;
    z-index: 100;
}

.billing {
    text-align: left;
    width: 90%;
}

.bcard-point-label {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: 0px;
}

.bcard-point {
    border-top: 0px;
}

.notes {
    border: 0px;
    padding-bottom: 0px;
}

.barcode-container {
    width: 100%;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.receipt-logo {
    height: 70px;
}

.pull-right {
    max-width: 70%;
}

.credit-card-input {
    max-width: 160px;
}

@media screen and (min-width: 320px) {
  .container {
    width: auto;
  }
}

*/